{% extends 'premium/base.html' %}

{% block title %}
    انشاء حساب
{% endblock %}

{% block content %}
    <h1>انشاء حساب</h1>
    {% if message %}
      <h4>{{ message }}</h2>
    {% endif %}
    <form method="post" dir="rtl">
        {% csrf_token %}
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">اسم المستخدم</label>
            <input type="text" class="form-control" id="exampleInputPassword1" name="username">
        </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">عنوان البريد الإلكتروني</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email">
          <div id="emailHelp" class="form-text">لن نشارك بريدك الإلكتروني أبدًا مع أي شخص آخر.</div>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">كلمة المرور</label>
          <input type="password" class="form-control" id="exampleInputPassword1" name="password">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">تأكيد كلمة المرور</label>
          <input type="password" class="form-control" id="exampleInputPassword1" name="confirmation">
        </div>
        <button type="submit" class="btn btn-primary">انشاء حساب</button>
        <p>تملك حسابا بالفعل <a href="{% url 'login' %}">تسجيل الدخول</a></p>
    </form>
{% endblock %}